In [174]:
import pandas as pd
import numpy as np

In [199]:
df1 = pd.read_csv('./data/val_images_relabeled/fold4.csv')
df2 = pd.read_csv('./data/val_images_relabeled/submission_f4.csv')
df3 = pd.read_csv('./data/train.csv')

In [200]:
lst_id = []
lst_label = []
df_f0 = pd.DataFrame()
df_f1 = pd.DataFrame()
df_f2 = pd.DataFrame()
df_f3 = pd.DataFrame()
df_f4 = pd.DataFrame()

In [201]:
for i, id1 in enumerate(df1['image_id']):
    a = df1[df1.image_id==id1]['label'].values
    b = df2[df2.image_id==id1]['label'].values
    if a!=b:
        lst_id.append(id1)
        lst_label.append(a)

In [178]:
df_f0['image_id']=lst_id
df_f0['label']=lst_label

In [205]:
df_f0

Empty DataFrame
Columns: []
Index: []

In [180]:
df_f0.to_csv('./data/val_images_relabeled/df_f0.csv')

In [184]:
df_f1['image_id']=lst_id
df_f1['label']=lst_label

In [185]:
df_f1.to_csv('./data/val_images_relabeled/df_f1.csv')

In [186]:
df_f1

           image_id label
0    1033962303.jpg   [4]
1    1044718671.jpg   [0]
2     105315247.jpg   [3]
3    1053506407.jpg   [1]
4    1060644080.jpg   [4]
..              ...   ...
517   953808797.jpg   [1]
518   971188113.jpg   [0]
519   976801924.jpg   [2]
520   983014273.jpg   [4]
521   995075067.jpg   [4]

[522 rows x 2 columns]

In [190]:
df_f2['image_id']=lst_id
df_f2['label']=lst_label

In [191]:
df_f2.to_csv('./data/val_images_relabeled/df_f2.csv')

In [192]:
df_f2

           image_id label
0    1001723730.jpg   [4]
1    1003888281.jpg   [0]
2    1007196516.jpg   [3]
3     102485576.jpg   [0]
4    1036380403.jpg   [2]
..              ...   ...
529   970540696.jpg   [3]
530   982556736.jpg   [4]
531   986999751.jpg   [0]
532   997910101.jpg   [2]
533   997973414.jpg   [1]

[534 rows x 2 columns]

In [196]:
df_f3['image_id']=lst_id
df_f3['label']=lst_label

In [197]:
df_f3.to_csv('./data/val_images_relabeled/df_f3.csv')

In [198]:
df_f3

           image_id label
0    1000015157.jpg   [0]
1    1011422445.jpg   [3]
2    1012305013.jpg   [1]
3    1023663951.jpg   [4]
4    1046156726.jpg   [2]
..              ...   ...
519    93658953.jpg   [1]
520    93971994.jpg   [2]
521   980448273.jpg   [4]
522   982241079.jpg   [1]
523   996947690.jpg   [2]

[524 rows x 2 columns]

In [202]:
df_f4['image_id']=lst_id
df_f4['label']=lst_label

In [203]:
df_f4.to_csv('./data/val_images_relabeled/df_f4.csv')

In [204]:
df_f4

           image_id label
0    1000910826.jpg   [2]
1    1005200906.jpg   [2]
2    1010648150.jpg   [3]
3    1010806468.jpg   [4]
4    1012623980.jpg   [1]
..              ...   ...
526   952303505.jpg   [4]
527   957199549.jpg   [1]
528   964570288.jpg   [4]
529   970041120.jpg   [1]
530   972873188.jpg   [1]

[531 rows x 2 columns]

In [208]:
import shutil

In [209]:
df_f0 = pd.read_csv('./data/val_images_relabeled/df_f0.csv')
df_f1 = pd.read_csv('./data/val_images_relabeled/df_f1.csv')
df_f2 = pd.read_csv('./data/val_images_relabeled/df_f2.csv')
df_f3 = pd.read_csv('./data/val_images_relabeled/df_f3.csv')
df_f4 = pd.read_csv('./data/val_images_relabeled/df_f4.csv')

In [214]:
for i, id in enumerate(df_f4['image_id']):
    shutil.copyfile('./data/train_images/{}'.format(id), './data/val_images_relabeled/noisy_data/{}'.format(id))

In [33]:
df1[df2.image_id=='100042118.jpg']['label'].values

array([3])

In [32]:
print(len(df2['image_id']))

4280

In [31]:
a=1800/4280
a

0.4205607476635514